# Virtual environments
.venv/
venv/

# Python cache
_pycache_/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/

# Databases
*.db
*.sqlite3

# IDE configs
.idea/
.vscode/

# Sphinx build output
docs/_build/